.wrapper {
  margin: 48px auto;
  padding: 16px 24px;
  max-width: 620px;
  border-radius: 8px;
  background-color:  #85151bdc;
  color: #fff;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
